[Desktop Entry]
Type=Application
Name=PDS Migration
Comment=Migrate your data between Personal Data Servers in the AT Protocol network
Exec=pdsmigration-gui
Icon=pdsmigration-gui
Terminal=false
Categories=Network;Utility;
